@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>
        Welcome to Joel Hilton's Film Collection site! On this site, you can view links to Joel's podcast <i>Baconsale</i>,
        add movies to the list, and view all movies on the list
    </p>

    <img class="text-center" src="~/img/joe hilton.jpg" alt="Picture of Joel Hilton" />
</div>
