<div>
    <p>
        The <i>Baconsale</i> podcast talks all things movies! Joel Hilton is so into movies that he minored in Film
        Studies at BYU, contracts as a movie reviewer for ClearPlay, and records this weekly podcast about
        movies with a couple friends. Tune in; you will not be dissapointed.
    </p>
    <p>Click on this link to be taken Joel Hilton's official <i>Baconsale</i> podcast site.</p>
    <a href="https://baconsale.com/">Baconsale Website</a> <br />

</div>
